.light {
  --md-sys-color-primary: rgb(134 83 25);
  --md-sys-color-surface-tint: rgb(134 83 25);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 220 190);
  --md-sys-color-on-primary-container: rgb(45 22 0);
  --md-sys-color-secondary: rgb(115 90 66);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 220 190);
  --md-sys-color-on-secondary-container: rgb(41 24 6);
  --md-sys-color-tertiary: rgb(88 99 57);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(220 232 180);
  --md-sys-color-on-tertiary-container: rgb(22 30 0);
  --md-sys-color-error: rgb(144 75 60);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 211);
  --md-sys-color-on-error-container: rgb(58 10 3);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(33 26 20);
  --md-sys-color-surface: rgb(255 248 245);
  --md-sys-color-on-surface: rgb(33 26 20);
  --md-sys-color-surface-variant: rgb(242 223 209);
  --md-sys-color-on-surface-variant: rgb(81 69 58);
  --md-sys-color-outline: rgb(131 116 104);
  --md-sys-color-outline-variant: rgb(213 195 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 47 40);
  --md-sys-color-inverse-on-surface: rgb(253 238 227);
  --md-sys-color-inverse-primary: rgb(253 185 117);
  --md-sys-color-primary-fixed: rgb(255 220 190);
  --md-sys-color-on-primary-fixed: rgb(45 22 0);
  --md-sys-color-primary-fixed-dim: rgb(253 185 117);
  --md-sys-color-on-primary-fixed-variant: rgb(105 60 1);
  --md-sys-color-secondary-fixed: rgb(255 220 190);
  --md-sys-color-on-secondary-fixed: rgb(41 24 6);
  --md-sys-color-secondary-fixed-dim: rgb(225 193 164);
  --md-sys-color-on-secondary-fixed-variant: rgb(89 66 44);
  --md-sys-color-tertiary-fixed: rgb(220 232 180);
  --md-sys-color-on-tertiary-fixed: rgb(22 30 0);
  --md-sys-color-tertiary-fixed-dim: rgb(192 204 154);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 75 36);
  --md-sys-color-surface-dim: rgb(230 215 205);
  --md-sys-color-surface-bright: rgb(255 248 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 231);
  --md-sys-color-surface-container: rgb(250 235 224);
  --md-sys-color-surface-container-high: rgb(244 229 219);
  --md-sys-color-surface-container-highest: rgb(239 224 213);
  --md-extended-color-custom-color-color: rgb(58 96 143);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(211 227 255);
  --md-extended-color-custom-color-on-color-container: rgb(0 28 57);
}
